* {
    margin: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --padding-main: 0 300px;
    --dialog-width: 360px;
    --dialog-height: 160px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #F08832;
    border-radius: 999px;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
}

header {
    position: relative;
    left: 0;
    width: 100%;
    top: 0;
    padding: var(--padding-main);
    height: 80px;
    background-color: #F08832;
    display: flex;
    align-items: center;
}

footer {
    position: relative;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: var(--padding-main);
    height: 80px;
    background-color: #F08832;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    position: relative;
}

section {
    display: flex;
    align-items: center;
    padding: var(--padding-main);
    margin: 16px 0;
}

nav {
    display: flex;
    align-items: center;
    padding: var(--padding-main);
    margin: 16px 0;
}

.main-menu {
    width: calc(100% - 300px);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

text {
    color: #F08832;
}

a {
    color: #F08832;
    text-decoration: none;
    padding: 0 12px;
}

a:hover {
    transform: scale3d(1.05, 1.05, 1.05)
}

.menu-nav {
    background-color: rgba(211, 211, 211, 0.2);
}

.main-dishes {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.main-dish {
    border: 2px solid lightgray;
    width: 95%;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.2);
    margin-bottom: 12px;
}

.main-dish:hover {
    cursor: pointer;
    background-color: #f0873233;
}

.main-dish:active {
    transform: scale(0.999, 0.999);
    background-color: rgba(240, 135, 50, 0.5);
    transform: scale3d(0.99, 0.99, 0.99)
}

.dish-headline {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 0;
    padding: 4px;
}

.dish-ingredients {
    margin: 4px 0;
    padding: 4px;
}

.dish-price {
    margin: 4px 0;
    padding: 4px;
    color: #F08832;
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.dialog {
    position: absolute;
    top: calc(50% - var(--dialog-height)/2);
    left: calc(50% - var(--dialog-width)/2);
    height: var(--dialog-height);
    width: var(--dialog-width);
    background-color: rgb(255, 255, 255);
    z-index: 2;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pop-up-button {
    margin: 8px;
    padding: 8px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    background-color: #F08832;
    border: none;
    color: #ffffff;
}

.move {
    width: 320px;
    position: relative;
    animation: mymove 4s infinite;
}

@keyframes mymove {
    0% {
        left: 0px;
    }

    100% {
        left: calc(90% - 44px);
    }
}

@media (max-width: 1440px) {
    :root {
        --padding-main: 0 200px;
    }
}

@media (max-width: 1300px) {
    :root {
        --padding-main: 0 100px;
    }
}

@media (max-width: 1000px) {
    :root {
        --padding-main: 0 40px;
    }
}

@media (max-width: 740px) {
    :root {
        --padding-main: 0 40px;
    }
}

@media (max-width: 700px) {
    :root {
        --padding-main: 0 40px;
    }
}

@media (max-width: 600px) {
    :root {
        --padding-main: 0 40px;
    }
}

@media (max-width: 500px) {
    :root {
        --padding-main: 0 40px;
    }
}

@media (max-width: 450px) {
    :root {
        --padding-main: 0 20px;
    }
}

@media (max-width: 400px) {
    :root {
        --padding-main: 0 10px;
    }
}