* {
    margin: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --padding-main: 0 20px;
}

::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #F08832;
    border-radius: 999px;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
}

header {
    position: relative;
    left: 0;
    width: 100%;
    top: 0;
    padding: var(--padding-main);
    height: 80px;
    background-color: #F08832;
    display: flex;
    align-items: center;
}

footer {
    position: relative;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: var(--padding-main);
    height: 80px;
    background-color: #F08832;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

section {
    display: flex;
    align-items: center;
    padding: var(--padding-main);
    margin: 16px 0;
}

.main-menu {
    width: calc(100% - 300px);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

text {
    color: #F08832;
}

a {
    color: #F08832;
    text-decoration: none;
    padding: 0 12px;
}

a:hover {
    transform: scale3d(1.05, 1.05, 1.05)
}

.menu-nav {
    background-color: rgba(211, 211, 211, 0.2);
}

.main-dishes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-dish {
    border: 2px solid lightgray;
    width: 95%;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.2);
    margin-bottom: 12px;
}

.main-dish:hover {
    cursor: pointer;
    background-color: #f0873233;
}

.main-dish:active {
    transform: scale(0.999, 0.999);
    background-color: rgba(240, 135, 50, 0.5);
    transform: scale3d(0.99, 0.99, 0.99)
}

.dish-headline {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 0;
    padding: 4px;
}

.dish-ingredients {
    margin: 4px 0;
    padding: 4px;
}

.dish-price {
    margin: 4px 0;
    padding: 4px;
    color: #F08832;
}